# Source materials
DocumentoLavoro/


# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Foundry LevelDB (Allowing in any packs directory)
!**/packs/**/LOCK
!**/packs/**/LOG
!**/packs/**/CURRENT
!**/packs/**/MANIFEST-*
!**/packs/**/*.ldb
!**/packs/**/*.log
# Witcher Compendium Assets (Ignoring raw, allowing optimized)
witcher-compendium/assets/*
!witcher-compendium/assets/optimized/
witcher-compendium/images/
!witcher-compendium/assets/optimized/images/
